params {
    genome = "hg19"
    input_dir = "/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/data"  // Make sure this path is correct
    triosEXOped = "${params.input_dir}/trioPRJ8766.ped"
    outdir = "${params.input_dir}/results280725_hg19"
    refhg38 = "/home/vgenomics/Germline/dockerdata/reference/hg38/hg381_22XYM/Homo_sapiens_assembly38cleaned.fasta"
    refhg37 = "/home/vgenomics/Germline/dockerdata/reference/hg19/hg19122XYM/hg19122XYM.fa"
    bedhg38 = "/home/vgenomics/Germline/dockerdata/reference/BED/hg38_exome.bed"
    bedhg37 = "/home/vgenomics/Germline/dockerdata/reference/BED/hg37_exome.bed"
    template_yml = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/examples/test-analysis-multisample.yml"
    phenotypes = ['HP:0001386', 'HP:0025263', 'HP:0009742', 'HP:0001376', 'HP:0008800', 'HP:0002829', 'HP:0034431', 'HP:0007470', 'HP:0004689']
    exomiser_propertieshg38 = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/hg38application.properties"
    exomiser_propertieshg37 = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/hg19application.properties"
    exomiser_jar = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/exomiser-cli-14.1.0.jar"
    clingen_filehg37 = '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios_g2p/modules/Final_G2P_trios/ClinGen_gene_curation_list_GRCh37.tsv'
    clingen_filehg38 = '/home/vgenomics/Germline/Pipeline/Mode_branch/modules/ClinGen_gene_curation_list_GRCh38_cleaned.tsv'
    vep_vcf_script =  '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios_g2p/modules/Final_G2P_trios/vf_vep_automated_trios.py'
    omim_clingene_file = '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios_g2p/modules/Final_G2P_trios/omim_clingene.tsv'
    mondo_owl ='/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios_g2p/modules/Final_G2P_trios/mondo.owl'
    child_sex = 'FEMALE'
    family_history = 'AD'
    g2p_script = '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios_g2p/modules/Final_G2P_trios/full_G2P_prioritisation.py'
    p2g_exomisermerging_script = '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios/modules/exomiser_postprocess_trios.py'
    //vep
    cache_dir = '/home/vgenomics/Germline/dockerdata/VEP_data_Cache/cache'
    // vep hg37
    dbNSFP37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/dbNSFP5.1a_grch37-003.gz'
    // LoFtool = '/home/vgenomics/Germline/dockerdata/vep_Plugins/LoFtool_scores.txt'
    CADDsnv37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/whole_genome_SNVs_hg37.tsv.gz'
    CADDindels37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/gnomad.genomes-exomes.r4.0.indel_inclAnno_hg37.tsv.gz'
    dbscSNV37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/dbscSNV1.1_GRCh37.txt.gz'
    dosage_collins = '/home/vgenomics/Germline/dockerdata/vep_Plugins/Collins_rCNV_2022.dosage_sensitivity_scores.tsv.gz'
    spliceaiindel37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/spliceai_scores.raw.indel.hg19.vcf.gz'
    spliceaisnv37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/spliceai_scores.raw.snv.hg19.vcf.gz'
    plihg37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/plI_gene.txt'
    phenotypesfile37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/Phenotypes.pm_homo_sapiens_114_GRCh37.gvf.gz'
    loeuf37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/loeuf_dataset_hg37.tsv.gz'
    clinpred37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/ClinPred_tabbed.tsv.gz'
    alphamissense37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/AlphaMissense_hg19.tsv.gz'
    primateai37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/PrimateAI_scores_v0.2_hg19.tsv.bgz'
    revel37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/new_tabbed_revel_grch37.tsv.gz'
    clinvar37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/clinvar.vcf.gz'
    // vephg38
    //dirPlugin = '/home/vgenomics/Germline/dockerdata/VEP_pluginsVEP114'
    dirPlugin = '/usr/src/app/ensembl-vep/Plugins'  //checked
    dbNSFP38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/dbNSFP5.1a_grch38-004.gz'  //checled
    LoFtool = '/home/vgenomics/Germline/dockerdata/vep_Plugins/LoFtool_scores.txt'  //checked
    CADDsnv38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/whole_genome_SNVs.tsv.gz' 
    CADDindels38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/gnomad.genomes.r4.0.indel_inclAnno.tsv.gz'
    dbscSNV38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/dbscSNV1.1_GRCh38.txt.gz'
    dosage_collins = '/home/vgenomics/Germline/dockerdata/vep_Plugins/Collins_rCNV_2022.dosage_sensitivity_scores.tsv.gz'
    spliceaiindel38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/spliceai_scores.raw.indel.hg38.vcf.gz'
    spliceaisnv38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/spliceai_scores.raw.snv.hg38.vcf.gz'
    plihg38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/plI_gene.txt'
    phenotypesfile38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/Phenotypes.pm_homo_sapiens_114_GRCh38.gvf.gz'
    loeuf38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/loeuf_dataset_grch38.tsv.gz'
    clinpred38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/ClinPred_hg38_sorted_tabbed.tsv.gz'
    alphamissense38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/AlphaMissense_hg38.tsv.gz'
    primateai38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/PrimateAI_scores_v0.2_GRCh38_sorted.tsv.bgz'
    revel38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/new_tabbed_revel_grch38.tsv.gz'
    clinvar38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/clinvar.vcf.gz'
    mappabilityhg38 =  '/home/vgenomics/Germline/tools/TrioCNV2/TrioCNV2/k100.Umap.MultiTrackMappability.bw'
    cnv2vcf_py = '/home/vgenomics/Germline/tools/TrioCNV2/TrioCNV2/resuCALL300625/Prioritization/TrioCNV2_vcf.py'
    cnv_prioritise_py = '/home/vgenomics/Germline/tools/TrioCNV2/TrioCNV2/resuCALL300625/Prioritization/Trios_CNV_Priori.py'
    sv_prioritise_py = '/home/vgenomics/RND/trios/SVGermline/Ashkenazim_SV/20250701_AnnotSV/Prioritization_Trios_SV/Trios_SV_Priori.py'
    // ACMG
    cache_biashg38 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh38/Cache/GRCh38/Both'
    sd_biashg38 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh38/SupplementaryAnnotation/GRCh38/'
    ref_biashg38 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh38/References/Homo_sapiens.GRCh38.Nirvana.dat'
    parameter_biashg38 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/local/hg38_required_paths.json'
    
    cache_biashg19 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh37/Cache/GRCh37/Both'
    sd_biashg19 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh37/SupplementaryAnnotation/GRCh37/'
    ref_biashg19 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/data/GRCh37/References/Homo_sapiens.GRCh37.Nirvana.dat'
    parameter_biashg19 = '/home/vgenomics/Germline/dockerdata/reference/ACMG/local/hg19_required_paths.json'
    //vusprize
    vusprize_script = '/home/vgenomics/Germline/tools/VusPrize/vusprize/VusPrize.py'
    dependent_script = '/home/vgenomics/Germline/tools/VusPrize/vusprize/RF_niu.joblib'
    dbnsfp4_37 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg19/dbNSFP4.7a_grch37.gz'
    dbnsfp4_38 = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/hg38/dbNSFP4.7a_grch38.gz'
    maxentscan = '/home/vgenomics/Germline/dockerdata/vep_pluginDB/DBs/fordownload'
    mode = 'P2G' 
    skip_snv = false
    skip_cnv = true
    skip_sv = true
    input_type = 'fastq'
}


process {
    container = 'germlinetrios:latest'
    withName:
     FASTQC {
        cpus = 25
        memory = '100.GB'
        time = '1.h'
    }
    
    withName: PROCESS_FASTQ {
        cpus = 30
        memory = '100.GB'
        time = '2.h'
    }
    withName: BWA {
        cpus = 50
        memory = '100.GB'
        time = '6.h'
    }    
    withName: DEEPTRIO {
        cpus = 40
        memory = '300.GB'
        time = '12.h'
    }
}


    //triosEXOped = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/examples/Pfeiffer-quartet.ped"
// params {
//     outdir = '/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios/triosExomiser/results150725_cohortPED'
//     exomiser_properties = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/hg19application.properties"
//     //vcf_files = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/examples/Pfeiffer-quartet.vcf.gz"
//     vcf_files = "/home/vgenomics/RND/trios/SNVGermline/exomiser/cohort.phased.merged.vcf.gz"
//     //triosEXOped = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/examples/Pfeiffer-quartet.ped"
//     triosEXOped = "/home/vgenomics/Germline/Pipeline/Trios_Pipeline/samples/testTrios/triosExomiser/PRJN8766-exomiser.ped"
//     //template_yml = "/home/vgenomics/Germline/tools/exomiser-cli-14.1.0/examples/test-analysis-multisample.yml"
//     //phenotypes = ['HP:0001386', 'HP:0025263', 'HP:0009742', 'HP:0001376', 'HP:0008800', 'HP:0002829', 'HP:0034431', 'HP:0007470', 'HP:0004689']
//    // genome = "GRCh37"
// }
